html, body{
    color: theme-color(black);
    font-family: 'AkzidenzGroteskBQ-Light';
    font-size: 18px;
}

a{
    color: inherit;

    &:hover{
        text-decoration: none;
    }

    &.button{
        text-transform: uppercase;
        display: inline-block;
        border-bottom: 1px solid theme-color($black);
        line-height: 1.1;
        font-size: 1.2em;

        @include media-breakpoint-down(sm){
            font-size: 1em;
        }
    }
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4{
    font-family: miller-display, serif;
    font-weight: 300;
    font-style: normal;
}

h2, .h2{
    margin-bottom: $grid-gutter;

    @include media-breakpoint-down(sm){
        font-size: 1.3em;
    }
}

h3, .h3{

    @include media-breakpoint-down(sm){
        font-size: 1.2em;
    }
}

h5, .h5{
    text-transform: uppercase;
    font-family: alternate-gothic-no-3-d, sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul{
    margin-left: $grid-gutter;

    li{
        margin-bottom: 20px;
    }
}

img{
    max-width: 100%;
}

//HTML5 VIDEOS
video{
    background: theme-color(grey);
    width: 100%;
}