.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner{
  padding: 20px 0;

  .brand{
    img{
      max-height: $grid-gutter;

      &.circle{
        max-height: 150px;
        display: none;
        margin: 0 auto 10px;
      }
    }
  }
}