// ALL PAGES
.page{
    section{
        margin: $grid-gutter * 2 0;

        &:last-child{
            margin-bottom: 0;
        }

        &:first-child{
            margin-top: 0;
        }
    }
}

// HOME
.home{

    .banner{
        position: relative;
        margin-bottom: -150px;

        img.circle{
            display: block;
        }

        @include media-breakpoint-up(md){
            .text{
                display: none;
            }
        }

        @include media-breakpoint-down(sm){
            img.circle{
                max-height: 100px;
            }
        }
    }

    #top{
        @include media-breakpoint-down(sm){
            .container{
                padding: 0;

                .video-wrap{
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                }

                video{
                    width: auto;
                }
            }
        }
    }

    #intro{
        text-align: center;
    }

    @include media-breakpoint-down(sm){
        .h1{
            font-size: 1.2em;
        }
    }

    #projects{
        margin-top: 300px;

        @include media-breakpoint-down(sm){
            margin: 200px 0 100px;
        }

        .project{
            background-color: theme-color(black);
            color: theme-color(pink);
            text-align: center;
            padding: 0 $grid-gutter 300px;
            margin-top: 200px;
            margin-bottom: -200px;

            h5{
                color: theme-color(white);
            }

            h2{
                margin-bottom: 0;
            }

            .button{
                margin-top: $grid-gutter / 2;
                color: theme-color(white);
                border-color: theme-color(white);

                &:hover{
                    border-color: theme-color(pink);
                }
            }

            &:nth-child(2n){
                background-color: theme-color(grey);
                color: theme-color(black);

                header{
                    color: theme-color(white);
                }

                .text{
                    h5{
                        color: theme-color(black);
                    }
        
                    .button{
                        color: theme-color(black);
                        border-color: theme-color(black);


                        &:hover{
                            border-color: theme-color(pink);
                        }
                    }
                }
            }

            header{
                height: 400px;
                max-width: 800px;
                background-color: theme-color(black);
                margin: auto;
                position: relative;
                transform: translateY(-200px);
                margin-bottom: -150px;
                background: {
                    position: center;
                    size: cover;
                    repeat: no-repeat;
                }

                .wrap{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .text{
                margin: $grid-gutter * 2 0;
            }

            .images{
                margin: $grid-gutter * 2 0;
            }

            @include media-breakpoint-down(sm){
                padding: 0 0 100px;
                margin-top: 200px;
                margin-bottom: 0;
    
                header{
                    height: 200px;
                    transform: translateY(-100px);
                    margin-bottom: -100px;
                }

                .text{
                    margin-bottom: 0;
                }

                .images{
                    display: none;
                }
            }
        }
    }
}

// ABOUT

.page.about{
    #top{
        position: relative;

        .text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: theme-color(white);
        }
    }

    #contact{
        background-color: black;
        color: theme-color(white);
        padding: $grid-gutter 0;
        text-align: center;

        hr{
            width: 100px;
            border-color: theme-color(white);
            margin: $grid-gutter auto;
        }
    }

    footer.content-info{
        display: none;;
    }
}